:root {
  --dark-gray: #222831;
  --white: #eeeeee;
  --yellow: #ffd369;
  --light-gray: #393e46;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: var(--light-gray);
  display: flex;
}

.vertical-menu {
  background-color: var(--dark-gray);
  width: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.vertical-menu .links {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.vertical-menu .links a {
  text-decoration: none;
  color: var(--white);
  margin: 20px 0 0 0;
  font-size: 20px;
  margin: 40px 0 0 150px;
}

.vertical-menu .links a:hover {
  color: var(--yellow);
}

.vertical-menu .links .active {
  display: flex;
  align-items: center;
  color: var(--yellow);
  background-color: var(--light-gray);
  width: 18vw;
  border-radius: 50px;
  height: 150%;
  padding-left: 20px;
  margin-left: -20px;
}

.vertical-menu .links i {
  margin-right: 10px;
}

.vertical-menu img {
  margin: 40px 0 100px;
  height: 50px;
  width: 50%;
}

.vertical-menu button {
  margin-bottom: 25px;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 15px;
  border: 0.5px solid;
  background-color: var(--dark-gray);
  color: var(--yellow);
  font-size: 15px;
  font-weight: 500;
  border-color: var(--yellow);
  cursor: pointer;
}

.vertical-menu button:hover {
  background-color: var(--yellow);
  color: var(--dark-gray);
}

.main {
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
table {
  margin-left: 70px;
  background-color: var(--dark-gray);
  color: var(--white);
  border-radius: 25px;
  padding: 10px;
  width: 100%;
}

table thead {
  color: var(--yellow);
}

td {
  border-bottom: 1px solid var(--light-gray);
  text-align: left;
  padding: 8px;
  text-align: center;
}

.table button {
  background-color: var(--yellow);
  color: var(--dark-gray);

  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.no-data {
  color: var(--yellow);
  margin-bottom: 20px;
  font-weight: bold;
}
